@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-gray-800;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* navbar */
.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link-ltr:hover::before {
  transition: 300ms;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #a8abaf;
  width: 50%;
  left: 25%;
  border-radius: 9999px;
  bottom: -30%;
}

.nav-link-active::before {
  height: 2px;
  content: '';
  position: absolute;
  background-color: #031d44;
  width: 50%;
  left: 25%;
  border-radius: 9999px;
  bottom: -30%;
}

.nav-link-active-dark::before {
  height: 2px;
  content: '';
  position: absolute;
  background-color: #ffffff;
  width: 50%;
  left: 25%;
  border-radius: 9999px;
  bottom: -30%;
}

/* Text */
.text-blue-gradient {
  background: rgb(57, 132, 244);
  background: linear-gradient(
    169.4deg,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0369a1 103.77%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-blue-gradient {
  color: rgb(57, 132, 244);
  color: linear-gradient(
    169.4deg,
    #0cd3ff 36.87%,
    #2f7cf0 78.04%,
    #0369a1 103.77%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header */
.bottom-border-header {
  @apply border-b border-solid border-zinc-100 dark:border-zinc-700;
}
.top-border-header {
  @apply border-t border-solid border-zinc-100 dark:border-zinc-700;
}

/* TEXT */
.limited-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
