@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* navbar */
.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link-ltr:hover::before {
  transition: 300ms;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #a8abaf;
  width: 50%;
  left: 25%;
  border-radius: 9999px;
  bottom: -30%;
}

.nav-link-active::before {
  height: 2px;
  content: '';
  position: absolute;
  background-color: #031d44;
  width: 50%;
  left: 25%;
  border-radius: 9999px;
  bottom: -30%;
}
